# Meson build
build/
_build/
*.o
*.so
*.a
*.la
*.lo
*.m4
depcomp
configure
compile
*.guess
config.log
install-sh
libtool
ltmain.sh
Makefile.in
missing

# Arquivos temporários
*.swp
*.swo
*~
.DS_Store

# Pastas Ocultas e de back-up
.*/
auto4te.cache/
.vscode/

# Pastas e Arquivos do Code Agent
node_modules/
package-lock.json
package.json
CLAUDE*.md
AGENTS.md


# Binários
subprojects/

# Arquivos de teste
test/

# Arquivos de referência
refs/